Exploring the use of Pandas for simple data analysis.

Data set for exercise purposes only.

In [1]:
#import pandas
import pandas as pd

#loading data into data frame
df = pd.read_csv('/kaggle/input/destination/destination.csv')

Use df to display whole data in a cell

In [2]:
df

    id     Destination  Feedback  Avg Rating  All in Hotels   Most Popular
0    1     New Zealand         9           4              5         Rotura
1    2      North Pole         8           4              6       Svalbard
2    3    Turkmenistan         7           3              9        Derweze
3    4          Russia         8           5             17  Yakaterinburg
4    5         Austria         9           4             12    Hinterbruhl
5    6           China         8           3            198       Xinjiang
6    7           Italy         9           5             76         Puglia
7    8          France         6           3             24         Nantes
8    9           India         8           3             45         Ladakh
9   10       Indonesia         9           4             80           Aceh
10  11           Japan        10           5             90          Beppu
11  12          Turkey         9           4             54        Faralya
12  13       Palestine         9           3              5      Jerusalem
13  14            Oman         7           5              2          Bahla
14  15  United Kingdom         7           4             20         London

Display first 10 rows use 'head(10)'

In [3]:
df.head(10)

   id   Destination  Feedback  Avg Rating  All in Hotels   Most Popular
0   1   New Zealand         9           4              5         Rotura
1   2    North Pole         8           4              6       Svalbard
2   3  Turkmenistan         7           3              9        Derweze
3   4        Russia         8           5             17  Yakaterinburg
4   5       Austria         9           4             12    Hinterbruhl
5   6         China         8           3            198       Xinjiang
6   7         Italy         9           5             76         Puglia
7   8        France         6           3             24         Nantes
8   9         India         8           3             45         Ladakh
9  10     Indonesia         9           4             80           Aceh

use .tail(10) to display the bottom 10 records

In [4]:
df.tail(10)

    id     Destination  Feedback  Avg Rating  All in Hotels Most Popular
5    6           China         8           3            198     Xinjiang
6    7           Italy         9           5             76       Puglia
7    8          France         6           3             24       Nantes
8    9           India         8           3             45       Ladakh
9   10       Indonesia         9           4             80         Aceh
10  11           Japan        10           5             90        Beppu
11  12          Turkey         9           4             54      Faralya
12  13       Palestine         9           3              5    Jerusalem
13  14            Oman         7           5              2        Bahla
14  15  United Kingdom         7           4             20       London

**Pandas two main structures**
1 Series
2 Dataframes - data in a table

Series data structure:

In [5]:
df.Destination #series display data as a single column

0        New Zealand
1         North Pole
2       Turkmenistan
3             Russia
4            Austria
5              China
6              Italy
7             France
8              India
9          Indonesia
10             Japan
11            Turkey
12         Palestine
13              Oman
14    United Kingdom
Name: Destination, dtype: object

In [6]:
df.columns #displays titles of all columns

Index(['id', 'Destination', 'Feedback', 'Avg Rating', 'All in Hotels',
       'Most Popular'],
      dtype='object')

In [7]:
df.index

RangeIndex(start=0, stop=15, step=1)

How many rows and columns?

In [8]:
df.shape #returns tuple of (rows, columns)

(15, 6)

In [9]:
df.dtypes #display data types - object = string...

id                int64
Destination      object
Feedback          int64
Avg Rating        int64
All in Hotels     int64
Most Popular     object
dtype: object

In [10]:
df.info() #info about the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             15 non-null     int64
 1   Destination    15 non-null     object
 2   Feedback       15 non-null     int64
 3   Avg Rating     15 non-null     int64
 4   All in Hotels  15 non-null     int64
 5   Most Popular   15 non-null     object
dtypes: int64(4), object(2)
memory usage: 848.0+ bytes

In [11]:
df.Feedback #only the feedback col

0      9
1      8
2      7
3      8
4      9
5      8
6      9
7      6
8      8
9      9
10    10
11     9
12     9
13     7
14     7
Name: Feedback, dtype: int64

In [12]:
df[['Destination', 'Feedback']].head() #first 5 of two columns

    Destination  Feedback
0   New Zealand         9
1    North Pole         8
2  Turkmenistan         7
3        Russia         8
4       Austria         9

In [13]:
#use indexing to select rows 3 to 9
df[3:10]

   id Destination  Feedback  Avg Rating  All in Hotels   Most Popular
3   4      Russia         8           5             17  Yakaterinburg
4   5     Austria         9           4             12    Hinterbruhl
5   6       China         8           3            198       Xinjiang
6   7       Italy         9           5             76         Puglia
7   8      France         6           3             24         Nantes
8   9       India         8           3             45         Ladakh
9  10   Indonesia         9           4             80           Aceh

In [14]:
#use df.iloc[start:stop, [col1, col2, col3]]
df.iloc[1:4, [1,2,3]]

    Destination  Feedback  Avg Rating
1    North Pole         8           4
2  Turkmenistan         7           3
3        Russia         8           5

In [15]:
#use  loc() to get  data from a column
df.loc[1:5, 'Avg Rating']

1    4
2    3
3    5
4    4
5    3
Name: Avg Rating, dtype: int64

Renaming a column...

In [16]:
df.rename(columns = {'Avg Rating' : 'Avg_Rating'}).head()

   id   Destination  Feedback  Avg_Rating  All in Hotels   Most Popular
0   1   New Zealand         9           4              5         Rotura
1   2    North Pole         8           4              6       Svalbard
2   3  Turkmenistan         7           3              9        Derweze
3   4        Russia         8           5             17  Yakaterinburg
4   5       Austria         9           4             12    Hinterbruhl

In [17]:
df.rename(columns = {'All in Hotels' : 'Hotel_Count'}).head()

   id   Destination  Feedback  Avg Rating  Hotel_Count   Most Popular
0   1   New Zealand         9           4            5         Rotura
1   2    North Pole         8           4            6       Svalbard
2   3  Turkmenistan         7           3            9        Derweze
3   4        Russia         8           5           17  Yakaterinburg
4   5       Austria         9           4           12    Hinterbruhl

#Statistical Analysis

In [18]:
df.describe() #get  statistical analysis

              id   Feedback  Avg Rating  All in Hotels
count  15.000000  15.000000   15.000000      15.000000
mean    8.000000   8.200000    3.933333      42.866667
std     4.472136   1.082326    0.798809      52.398019
min     1.000000   6.000000    3.000000       2.000000
25%     4.500000   7.500000    3.000000       7.500000
50%     8.000000   8.000000    4.000000      20.000000
75%    11.500000   9.000000    4.500000      65.000000
max    15.000000  10.000000    5.000000     198.000000

In [19]:
df.sort_values('Feedback') #sorts table low to high by the column specified

    id     Destination  Feedback  Avg Rating  All in Hotels   Most Popular
7    8          France         6           3             24         Nantes
2    3    Turkmenistan         7           3              9        Derweze
13  14            Oman         7           5              2          Bahla
14  15  United Kingdom         7           4             20         London
1    2      North Pole         8           4              6       Svalbard
3    4          Russia         8           5             17  Yakaterinburg
5    6           China         8           3            198       Xinjiang
8    9           India         8           3             45         Ladakh
0    1     New Zealand         9           4              5         Rotura
4    5         Austria         9           4             12    Hinterbruhl
6    7           Italy         9           5             76         Puglia
9   10       Indonesia         9           4             80           Aceh
11  12          Turkey         9           4             54        Faralya
12  13       Palestine         9           3              5      Jerusalem
10  11           Japan        10           5             90          Beppu

In [20]:
df.sort_values('Feedback', ascending = False) #sorts table high to low by the column specified

    id     Destination  Feedback  Avg Rating  All in Hotels   Most Popular
10  11           Japan        10           5             90          Beppu
0    1     New Zealand         9           4              5         Rotura
4    5         Austria         9           4             12    Hinterbruhl
6    7           Italy         9           5             76         Puglia
9   10       Indonesia         9           4             80           Aceh
11  12          Turkey         9           4             54        Faralya
12  13       Palestine         9           3              5      Jerusalem
1    2      North Pole         8           4              6       Svalbard
3    4          Russia         8           5             17  Yakaterinburg
5    6           China         8           3            198       Xinjiang
8    9           India         8           3             45         Ladakh
2    3    Turkmenistan         7           3              9        Derweze
13  14            Oman         7           5              2          Bahla
14  15  United Kingdom         7           4             20         London
7    8          France         6           3             24         Nantes

In [21]:
df.sort_values(['Destination', 'Avg Rating'], ascending = [True, False])
#Sort on 2 cols Destination ascending and Avg Rating in desc order

    id     Destination  Feedback  Avg Rating  All in Hotels   Most Popular
4    5         Austria         9           4             12    Hinterbruhl
5    6           China         8           3            198       Xinjiang
7    8          France         6           3             24         Nantes
8    9           India         8           3             45         Ladakh
9   10       Indonesia         9           4             80           Aceh
6    7           Italy         9           5             76         Puglia
10  11           Japan        10           5             90          Beppu
0    1     New Zealand         9           4              5         Rotura
1    2      North Pole         8           4              6       Svalbard
13  14            Oman         7           5              2          Bahla
12  13       Palestine         9           3              5      Jerusalem
3    4          Russia         8           5             17  Yakaterinburg
11  12          Turkey         9           4             54        Faralya
2    3    Turkmenistan         7           3              9        Derweze
14  15  United Kingdom         7           4             20         London

Show num of most hotels in a country

In [22]:
df['All in Hotels'].max()

198

In [23]:
df['Feedback'].max() #max feedback received

10

Which destination has > 4* average ratings?

In [24]:
df_filter = df[df['Avg Rating'] > 3]
destinations = df_filter['Destination']
destinations

0        New Zealand
1         North Pole
3             Russia
4            Austria
6              Italy
9          Indonesia
10             Japan
11            Turkey
13              Oman
14    United Kingdom
Name: Destination, dtype: object

Destinations with more than 7 feedbacks

In [25]:
df_filter = df[df['Feedback'] > 7]
destinationsG7 = df_filter['Destination']
destinationsG7

0     New Zealand
1      North Pole
3          Russia
4         Austria
5           China
6           Italy
8           India
9       Indonesia
10          Japan
11         Turkey
12      Palestine
Name: Destination, dtype: object

Phew!!!